#fretboard-container {
    position: relative;
}

#fretboard-img {
    width: 463px;
    height: 676px;
}

#dot-img {
    position: absolute;
    left: 7px;
    top: 92px;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
}
